<div class="col s12 l12" id="cards">
    <div class="container">
        <div class="row">



            <!-- Buy orders -->
            <div class="col s12 m6">
                <div class="card text-white  mb-3" style="background:#6495ED">
                    <div class="card-action center-align flow-text white-text">
                        BID - BUY ORDERS

                    </div>
                    <div class="card-content">
                        <table class="table table-sm table-hover  table-dark table-responsive ">
                            <thead>
                            <tr>

                                <th>Token Address</th>
                                <th>Quantity(FTN)</th>
                                <th>Value(USD)</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in purchase_orders_list %}
                            <tr>
                                <td>{{order.token_address}}</td>
                                <td>{{ order.quantity}} FTN</td>
                                <td>{{ order.price|floatformat:2}}$</td>
                                <td>{{order.created}}</td>
                                <td>{% if order.profile.user.id == profile_pocket.user.id %}
                                    <a class="btn red lighten-2 white-text" href="/exchange/{{order.get_id}}/delete" name="delete" >

                                        delete
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- Sell orders -->
            <div class="col s12 m6">
                <div class="card text-white  mb-3" style="background:#6495ED">
                    <div class="card-action center-align flow-text white-text">
                        ASK - SELL ORDERS

                    </div>
                    <div class="card-content">
                        <table class="table table-sm table-hover  table-dark table-responsive ">
                            <thead>
                            <tr>
                                <th>Token Address</th>
                                <th>Quantity(BTC)</th>
                                <th>Value(USD)</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in  sale_orders_list %}
                            <tr>
                                <td>{{order.token_address}}</td>
                                <td>{{ order.quantity}} FTN</td>
                                <td>{{ order.price|floatformat:2}}$</td>
                                <td>{{order.created}}</td>
                                <td>{% if order.profile.user.id == profile_pocket.user.id %}
                                    <a class="btn red lighten-2 white-text" href="/exchange/{{order.get_id}}/delete" name="delete" >

                                        delete
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>