<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <a href="" ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a class="fa fa-facebook-official w3-hover-opacity"href="https://www.facebook.com/groups/1536160093204630"  target="_blank" ></a>
    <a class="fa fa-start2impact-p w3-hover-opacity" href="https://talent.start2impact.it/profile/feranmi-ojo"  target="_blank" ></a>
    <a class="fa fa-github w3-hover-opacity"href="https://github.com/feranmi-oj"  target="_blank" ></a>
    <a class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/feranmi-ojo-1aaaa91b0/"  target="_blank" ></a>
  </div>
</footer>