<!-- Navbar (sit on top) -->
<div class="w3-top">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="w3-bar w3-black w3-card" id="myNavbar">
    <a href="{%url 'app:home'%}" class="w3-bar-item w3-button w3-wide">FeroToken-platform</a>
    <!-- Right-sided navbar links -->
    {% if user.is_authenticated %}
    <div class="w3-right w3-hide-small">
      <a href="{%url 'app:order'%}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> EXCHANGE</a>
      <a href="{%url 'accounts:profile' user.pk %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> {{user.username}}</a>
      <a href="{% url 'accounts:logout'%}" class="w3-bar-item w3-button"><i class="fa fa-toggle-off"></i> LOGOUT</a>
    </div>
    {%else%}
    <div class="w3-right w3-hide-small">
      <a class="w3-bar-item w3-button" href="{% url 'accounts:login'%}"><i class="fa fa-toggle-on"></i>Login</a>
      <a class="w3-bar-item w3-button" href="{% url 'accounts:register'%}"><i class="fa fa-pencil"></i>Registration</a>
    </div>
    {%endif%}

  </div>
</div>